manifest {
  name = 'spatial-pipeline'
}

workDir = "${projectDir}/work"

profiles {
  test {
    params {
      samplesheet = "${projectDir}/samplesheet.csv"
      outdir      = "${projectDir}/outputs/nf"
      stage       = "E14"
      sc_expr     = "${projectDir}/test_data/single_cell/CartanaJF_singlecell_df.txt"
      sc_meta     = "${projectDir}/test_data/single_cell/CartanaJF_singlecell_meta_df.txt"
    }

    process {
      executor = 'local'
      withName: FILTER_CELLS_BY_TISSUE { cpus = 2; memory = '2 GB' }
      withName: PROCESS_SCRNA        { cpus = 2; memory = '4 GB' }
    }
  }
  system { conda.enabled = false }
}

conda {
  enabled = true
  // Use conda unless mamba is installed
  useMamba = false
}
